@font-face {
  font-family: brandish;
  src: url('../fuente/brandish.ttf');
}

.Home {
  height: 100vh;
  background-color: rgb(187, 209, 236);
}

.container {
  display: flex;
  height: fit-content;
}

.brand {
  font-family: brandish;
  font-size: 7rem;
  font-weight: 100;
  color: #d125a3;
}

.logo {
  margin: 10px 15px;
  background-color: white;
  width: 75%;
  text-align: center;
  padding: 2rem 0;
}

.logo p {
  margin: 5px;
}

.login-container {
  margin: 10px 15px 10px 5px;
  background-color: white;
  width: 25%;
  padding: 4px;
}

.violeta {
  color: #d125a3;
  font-weight: bold;
}

.footer {
  background-color: rgb(166, 186, 211);
  text-align: center;
  padding: 5px;
  margin: 10px 15px;
}

.hideMe {
  -webkit-animation: cssAnimation 5s forwards;
  animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
