.Pagina {
  background: #d9e6f7;
  min-height: 100vh;
}

.sombra {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(143, 143, 143, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(143, 143, 143, 1);
  box-shadow: 1px 1px 5px 0px rgba(143, 143, 143, 1);
}

.enlace {
  color: rgb(45, 121, 126);
}

.Pagina .container {
  width: 85%;
  margin: auto;
  padding: 0 5px;
  margin-top: 15px;
  display: flex;
}

.Pagina .loader {
  margin: 0px auto;
  font-size: 1.5rem;
  text-align: center;
  color: #d125a3;
}

.rotate-center {
  margin: 100px auto;
  -webkit-animation: rotate-center 1s linear infinite;
  animation: rotate-center 1s linear infinite;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
