.PanelEstadisticas {
  background: white;
  border-radius: 7px;
  width: 61%;
  margin: 0 15px;
  border-top-right-radius: 60px;
  height: fit-content;
}

.PanelEstadisticas h2 {
  font-weight: normal;
  margin: 5px;
  padding: 0 5px;
}

.PanelEstadisticas .estadisticas {
  display: flex;
  margin: 0 5px;
}

.PanelEstadisticas .estadisticas div {
  margin: 5px 10px;
}

.PanelEstadisticas .estadisticas div p:first-child {
  font-size: 0.8rem;
}

.PanelEstadisticas .estadisticas div p:nth-child(2) {
  font-size: 0.8rem;
}

.PanelEstadisticas .texto {
  margin: 5px;
  font-size: 0.9rem;
  padding: 0 5px;
  margin-bottom: 15px;
}

.PanelEstadisticas .texto a {
  text-decoration: none;
  color: rgb(45, 121, 126);
  padding: 5px 3px;
}

.PanelEstadisticas .texto .perfil ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.PanelEstadisticas .texto .perfil ul li {
  display: flex;
  padding: 2px 0;
}

.PanelEstadisticas .texto .perfil ul li:nth-child(odd) {
  background: #deeefe;
}

.PanelEstadisticas .texto .perfil ul li:nth-child(even) {
  background: #eff8ff;
}

.PanelEstadisticas .texto .perfil ul li div:first-child {
  display: inline-block;
  text-align: right;
  width: 25%;
}
.PanelEstadisticas .texto .perfil ul li div:nth-child(2) {
  display: inline-block;
  text-align: left;
  max-width: 75%;
}

.PanelEstadisticas .texto .perfil ul li div:first-child p {
  display: inline-block;
  color: rgb(134, 134, 134);
  margin: 0 5px;
}
