.PanelCumpleanos {
  background: white;
  margin: 15px;
  border-radius: 7px;
  padding: 10px;
}

.PanelCumpleanos p {
  font-weight: bold;
}

.cumples-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.cumples-flex p {
  font-weight: normal;
}

.cumples-flex a {
  color: rgb(45, 121, 126);
  text-decoration: none;
}

.cumpleanero {
  width: 19%;
  padding: 5px 0;
  background: #f0f0ee;
  font-size: 0.8rem;
  text-align: center;
  margin: 2px;
}

.cumpleanero img {
  width: 50%;
  max-height: 80%;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
}

.cumpleanero a {
  display: block;
  margin-bottom: 2px;
}

.cumples-flex {
  padding-left: 2%;
}

@media only screen and (max-width: 1100px) {
  .PanelCumpleanos {
    width: 100%;
    margin: 0;
    margin-top: 15px;
    font-size: 1.2rem;
  }

  .PanelCumpleanos p {
    font-size: 1.2rem;
  }
  .PanelCumpleanos a {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .PanelCumpleanos {
    font-size: 1rem;
  }

  .PanelCumpleanos p {
    font-size: 1rem;
  }
  .PanelCumpleanos a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 585px) {
  .cumples-flex {
    padding-left: 2%;
  }
  .cumpleanero {
    width: 31%;
  }
}
