.PanelDerechoAmigos {
  background: white;
  border-radius: 7px;
  width: 25%;
  height: fit-content;
}

.PanelDerechoAmigos h3 {
  margin: 10px;
  font-size: 0.95rem;
}

.PanelDerechoAmigos a {
  text-decoration: none;
  color: rgb(45, 121, 126);
}

.PanelDerechoAmigos hr {
  border: 0.5px solid lightgray;
  margin: 5px;
}

.PanelDerechoAmigos .box-amigos {
  display: flex;
  flex-wrap: wrap;
}

.PanelDerechoAmigos .box-amigos div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 31%;
  height: 115px;
  background: #f0f0ee;
  margin: 3px;
  text-align: center;
}

.PanelDerechoAmigos .box-amigos div img {
  width: 80%;
  max-height: 75%;
  margin: 5px auto;
}

.PanelDerechoAmigos .box-amigos div a {
  font-size: 0.8rem;
  padding-bottom: 5px;
  text-decoration: none;
  color: rgb(45, 121, 126);
}

.PanelDerechoAmigos .ver-todos {
  padding: 10px;
  font-size: 0.8rem;
  text-decoration: underline;
  font-weight: bold;
}

@media only screen and (max-width: 1100px) {
  .PanelDerechoAmigos {
    width: 100%;
    margin: 15px 0;
  }

  .PanelDerechoAmigos h3 {
    font-size: 1.2rem;
  }

  .PanelDerechoAmigos .box-amigos {
    padding-left: 5%;
  }

  .PanelDerechoAmigos .box-amigos div {
    height: 130px;
    padding-bottom: 5px;
  }

  .PanelDerechoAmigos .box-amigos div a {
    font-size: 1.2rem;
  }

  .PanelDerechoAmigos .box-amigos div img {
    width: 30%;
  }

  .ver-todos a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .PanelDerechoAmigos h3 {
    font-size: 1rem;
  }
  .PanelDerechoAmigos .box-amigos div a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 585px) {
  .PanelDerechoAmigos .box-amigos {
    padding-left: 2%;
  }
  .PanelDerechoAmigos .box-amigos div img {
    width: 60%;
  }
}
